

<h2><%= mesdata.title%></h2>
<h2><%= "-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"%></h2>
<h2><%= user.email%></h2>
<h2><%= user.nom%></h2>
<h2><%= user.prenom%></h2>
<h2><%= user.pseudo%></h2>

<h2><%= "-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"%></h2>
<h2><%= mesdata.content%></h2>
<h1>newinfo</h1>
<form method="POST" action="/user/<%= user.id%>">
  <input type="text" name="nom" value="">
  <input type="text" name="prenom" value="">
  <input type="text" name="pseudo" value="">
  <input type="submit" value="submit">

</form>



